#area {
    position: relative;
    left: 37%;
    top: 10em;
    width: 500px;
    height: 400px;
    scale: (0.5);
}

#area #formulario {
    position: absolute;
    display: block;
}


fieldset {
    background-color: #A7C0DC;
    width: 500px;
    height: 250px;
}

legend {
    font-weight: bold;
    font-family: "Segoe UI", "Arial", "Times New Roman";
}

#formulario label {
    position: absolute;
    left: 19px;
    margin-right: 5px;
}

#formulario input.campo_nome {
    word-break: normal;
    background-color: #f1ff00;
    position: absolute;
    left: 95px;
    top: 23px;
    width: 225px;
}

#formulario input.campo_email {
    background-color: #f1ff00;
    position: absolute;
    left: 95px;
    margin-top: 2px;
    width: 225px;
}

#formulario textarea.msg {
    position: absolute;
    background-color: #f1ff00;
}

#formulario input.btn_submit {

    position: absolute;
    bottom: 0.5em;
    right: 10px;
    background-color: #f1ff00;
}